<!doctype html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Purpose | M.Hinako</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body class="section-container">
  <a href="/" style="text-decoration:none;">← Topへ戻る</a>
  <h1 class="section-label" style="margin-top:30px;">PURPOSE DETAIL</h1>
  <article style="max-width: 960px; line-height:1.9;">
    <p>承認欲求が強い。弱くて、ちっぽけな自分を知ること。打ち明けること。<br>
    私はずっと、誰かに認められなければここにいてはいけない、自分の頑張りには意味がない、そう思って生きてきた。</p>

    <p>1人なるのが怖くて、誰にも見られず終わるのが怖くて、誰かの特別になれるように、声を大きくして、人一倍肩書きで自分を取り繕うとして、注目されるように振る舞ってきた。</p>

    <p>それは多分、いろんな原体験があるけれど、小学校で一軍みたいな子と喧嘩をして、一度クラスで独りぼっちになって白い目で見られた日があったり、部活で毎日権力の強い先輩がどう動くのか顔をうかがっていたり。中学校で、クラスの輪に入れてもらえない時があったり。<br>
    全くそんなわけないのに、私の中で、一人でいることはずっと惨めなことで、絶対になりたくないと思っていた。</p>

    <p>だからあんなに恋していた神山まるごと高専に入学したのに、そこからすぐ外のイベントに参加して活動した。snsを動かすことも、noteを何度も書いたことも、起業をしたことも。自分は特別な存在だということを示して、クラスの中心じゃなくて良いから誰かにとっての当たり前に隣にいる存在になりたかった。<br>
    本当は、友達が欲しかっただけなんだと思う。(けれど、友達はちゃんといて、それに気づけていない自分がいたこともこの1年間の中で何度も感じた。)</p>

    <p>どんな行動の裏側にも全て承認欲求があって、私はそれにずっと支配されていた。<br>
    そうやって私が承認欲求が強いことなんて分かりきったことなのに、それがバレることが怖くて、私はいつもそんな自分を認めることができなくて、ずっとそんな素直じゃない、ちっぽけな自分が嫌いだった。</p>

    <p>けれど3月に参加したMakers u18合宿での仲間との対話の中で、<br>
    『もっと腹を割って話して欲しい。』<br>
    そう言われた瞬間、自分が知らないうちに隠そうとしていた承認欲求に向き合わなければならないことに気づいた。<br>
    頑張って押し込めていた樽を開けようとしてくれた感覚で、でもそれはものすごく苦しいことだったし、恥ずかしいことだったし、言われた直後は涙がこぼれそうになったけど、でも同時に、不思議とホッとしている自分がいた。</p>

    <p>「承認欲求が強い。だから起業をした。」</p>

    <p>そう、誰にも素直に言えなかったことを話せた時間は、私にとって宝物だった。話せたことだけでも私にとってすごく大きいことだったけれど、それに加えて聞いてくれていたみんなは、馬鹿にしないで「最高」と言ってくれた。「じゃあ先に承認欲求満たそう！」「承認欲求高いなんて、ポテンシャルしかないよ！」と逆に褒めてくれた。</p>

    <p>承認欲求は悪いことじゃないし、大体の人はみんな持っていて、当たり前にみんなの中に存在するものだ。そう、その存在を受け止めることができたあの時から、体にまとわりついていた変な錘みたいなものをちょっとだけ下ろすことができたように感じた。</p>

    <p>私にとって承認欲求は、ものすごく自分を縛ってきたものだった。けれど本当に自分を縛っていたのは、その欲を受け入れられないことだったのだと思う。</p>

    <p>それでも、悪いものだと思ってしまう自分も消えたわけではなかった。今まで悪いと思っていたものを、いきなり良いよねと言えるほど私は強くなかった。</p>

    <p>いろんな自分に、okを言ってあげる、ということ。<br>
    一つ自分のことを知って、受け止め認めた時、ものすごく私は強くなったと勘違いしていた。<br>
    あれを乗り越えたから、もう大丈夫だ、と。</p>

    <p>でもやっぱり落ち込んで、やっぱり苦しんでいる自分がいた。<br>
    うまくできないこと、気にしちゃうこと、もーー最悪って思うこと、やりきれないこと。受け止めたくない現実が襲いかかってくるたび、自分の嫌なところばかりが目についた。</p>

    <p>もっと成長していると思ったのに、<br>
    もっと変われていると思ったのに、<br>
    変わりきれていない昔のひな子を拒む気持ちと、それも違うとわかっている自分がずっと戦っていた。</p>

    <p>弱い自分と対峙することは、ものすごく怖い。<br>
    今の自分がダメだと、大事にしたい過去の自分を否定しているような気もして。</p>

    <p>でもだから、私たちは、思っているよりも強くない、ということを理解する必要があると思った。<br>
    私たちは、というか私は、まだまだ成長途中で、まだまだ完璧じゃなくて、まだまだ弱さもある、と。</p>

    <p>そう思うと、休んでも立ち止まっても、全部うまくできなくても、大丈夫なのかな、と思えるようになった。というか、思いたいなと思った。<br>
    それでも前に進んでいる何かがあると、私は信じていた。辛いことが、できなかったことがいつかの、お守りになると信じていた。</p>

    <p>だからもう一度立てなくなる前に、一度立ち止まって弱さを認めること。<br>
    休むこと。<br>
    休むことさえも、周りの目や次の日戻れるかの不安や怖さがあるけど、それでもちゃんと、「必要だ」って自分にokを言ってあげられること。<br>
    私はこれを大事にしたくて、これを世の中に届けたいんだ、と思った。これができる時間、空間を作りたいんだと。</p>

    <p>自分のことを愛そうだなんて傲慢で、<br>
    愛せない自分がいるのも、愛すことができないのも、当たり前だと思う。<br>
    それでも自分のことを大事にしてほしい、とは思う。自分がそうだったから、今もそうだから、SNSで流れてくるいろんな人たちのポストを見るたび、胸がギュッとなる。<br>
    でも見ず知らずの何も知らない人が、急に返信をするのも怖いことだなと思って伝えたいことも伝えられないし、うまく言葉にまとめられないから、パフェに甘えて。でそれを伝えよう、と思った。</p>

    <p>この一種の諦めのような感覚が、でもどうにか自分ができる範囲で伝えたいと思うことが、自分にokを言ってあげられる1日=ご褒日という、パフェに甘えて。の体験・ベースにつながっていった。</p>

    <p>自分を愛してもいいと、許可をあげること。<br>
    よく、いろんなメディアで、『まずは自分のことを愛すことから！』そんな言葉をよく見かける。<br>
    でもそんなの頭でわかっていても、自分を愛することがまずどれだけ難しいことか、身をもって経験してきた。<br>
    できない自分は大嫌いだし、あんなこと言っちゃったって自己嫌悪になるし、夜になるとずっとぐるぐる、ぐるぐる考えてしまう。</p>

    <p>そんな自分も愛してあげようなんて、言うのは簡単かも知れないけれど、その言葉が、その意識が、いちばんの重荷であり、悩みになっている気がした。愛せない自分が許せない、そう思う気持ちに潰されそうになったこともあった。</p>

    <p>だから私は、自分を愛することを強要するのではなくて、まず、自分は自分のことを愛していいんだと許可をしてあげること、OKと言ってあげること。それがまず出発点だと思った。</p>

    <p>そのokを言ってあげられる感覚はきっと、受け止めるでも認めるでもなくて、両親や大切な人たちに抱きしめてもらったみたいに、ただ抱きしめてあげることに近い。<br>
    それは、良いとか悪いとか、0とか100とか、白とか黒とか、そうやってはっきりさせようとして安心するわけじゃない、曖昧なままで、グレーなままでいて良いと許可をあげるということなのだと思う。</p>

    <p>誰かに抱きしめられたとき、人は自分の欠点を直そうとは考えない。ただ、その温もりの中で、ここにいていいんだ、と安心する。<br>
    私はそんな、理屈を超えた受容を、私自身に、多くの人に、届けていきたい。</p>



    <p>光も影も抱きしめる。矛盾を抱えたまま、それを抱きしめるということ。<br>
    よく、WAQHAPIとして今後どうしていきたいか、これが大切だと思っている、そんなことを両親に相談する。<br>
    その時に母に教えてもらったのが、満月理論だった。</p>

    <p>満月理論とは、月は元々「満月」と言う完璧な存在で、地上から見ると欠けて見えるだけ、と言う考え方を人間に当てはめたもの。</p>

    <p>その言葉と概念を聞いた時、ものすごく私の考えと近いと思った。</p>

    <p>月は、欠けて見えていても、本当はいつも満ちている。<br>
    わたしたちは、光と影があるからこそ変わっていく月の形を美しいと見る。三日月も、半月も、満月も、どれも美しいと見ているはずだ。</p>

    <p>けれど、人が何か欠けていたら、自分が何か欠けていたら、わたしたちはその部分を受け入れることができないように思う。もしくは、受け入れるのに、時間がかかると思う。私はいつもそうやってするうちに、自分のことを否定してきた。</p>

    <p>でもだからこそ、私は信じたいと思った。<br>
    人間も、同じように、欠けて見えていても、実は満ちている。<br>
    欠けて見えていても、だからこそ美しい。のだと。</p>

    <p>神山まるごと高専の受験中、自分のできなさや弱さにずっと落ち込んでいた時、「人は、ダメなところも弱いところも葛藤もあるからこそ美しいと確信しているように。」と言う理事の咲さんのnoteを読んで、勇気をもらっていた。<br>
    どの媒体でも書いてきたけど、この言葉の持つ威力は、私の中でとてつもなく大きい、お守りだ。</p>

    <p>光がどれだけ強くても、影がどれだけ受け入れられなくても、私は、『人は、光も影もあるから美しい』と、これからも信じ続けたい。</p>

    <p>けれどその影は、誰にも見えない。<br>
    それがあるからこそ美しい、と言うのは、影があるから光がより濃く、独自の形をすると言うことで。でも、その独自の形を作るために裏側でどれだけ葛藤しているかは、外側からは分からないことを痛感してきた。</p>

    <p>お月様の表面は、いつもキラキラと輝いていて。 私たちは毎日、その輝く表面を見て「綺麗だね」と褒めるれど、その月の裏側を見ることはできないし、だから、裏側が褒められることもない。</p>

    <p>他者承認でしか生きていなかった私は、褒められるところばかり気にして生きてきた。明るいね、元気だね、そんな言葉も嬉しかったけれど、本当に認めてほしいのは、褒めてほしいのは、裏で葛藤していることだった。抱きしめて欲しかったのは、ワクワクとか言っているけれど、その裏で悩んで苦しんで、大丈夫じゃない自分だった。<br>
    誰かの影の頑張りや葛藤は見えるものじゃないし、気づくことも難しい。</p>

    <p>だからこそ、その影は自分でしか抱きしめてあげることができない。</p>

    <p>「でしか」と言うか、自分だからこそ抱きしめてあげられる部分なのだと思う。だからその影に、もう少し優しくあれる世の中を作りたい。</p>

    <p>自分の影の存在を受け入れて、抱きしめてあげることができた時、人は初めて、隣にいる誰かの「見えない影」にも想像力を働かせ、受け止められるようになるのだと思う。</p>



    <p>自分の光も影も抱きしめた先にあるもの。<br>
    私は今まで、いろんなピッチで、<br>
    「自分の光も影も抱きしめられる」そんな自分を愛することができる社会を作りたいと伝えてきた。</p>

    <p>けれどこの一年間で何度も言葉にしようとした時、自分を愛することがゴールではなく、その先にある、溢れ出した愛が誰かへと届いていく未来こそが、私がいちばん作りたい、ワクワクする世の中なのだと気付いた。</p>

    <p>学校が嫌だと泣いた日、ずっと寄り添って聞いてくれた人がいたこと。<br>
    「イベントをやってみたら？」と背中を押してくれた人がいたこと。<br>
    落ち込んでいるときに、「お餅食べよ」と笑ってくれた人がいたこと。<br>
    「大丈夫！」って力強く伝えてくれた人がいたこと。<br>
    そして、私の弱さもまっすぐ受け止めて抱きしめてくれる人がいたこと。</p>

    <p>私はたくさんの人たちに、支えてもらって生きてきた。</p>

    <p>そんなふうに「大丈夫」と寄り添ってくれた人たちは、<br>
    きっと自分のことをちゃんと愛して、<br>
    そのあふれた愛で、誰かを包み込める人たちだったのだと思う。</p>

    <p>私は、その人たちになりたいと思ってもがいて、承認欲求を埋めたいと影とひたすらに向き合ってきた。この1年間で自分のために動き続けていたのに、自分の光も影も抱きしめられるようになって、褒められることも増えて健全に承認欲求が満たされていった時、今までずっと自分に向いていた矢印が、自然と外側へと、他者へと向き始めた。</p>

    <p>あんなに強くあった「誰かに認められたい」という気持ち。<br>
    それは本当は、他者から承認をもらうこと以上に、自分で自分のことを肯定したかった、抱きしめたかったのだと思う。1年を通して、ようやくそのことに気づいて、だから今、自分で自分の光も影も抱きしめられていることが、誰かに認められるためにとりあえず何かやるではなく、ちゃんと取捨選択をできるようになっていった。</p>

    <p>承認欲求がゼロになったわけじゃないけれど、それ以上に「誰かを幸せにしたい」と心から思えるようになった。<br>
    自分が満たされ、自分を愛せるようになると、今度は誰かに、その幸せを渡したくなる。</p>

    <p>私はその連鎖こそが、起こしたいことなのだと思う。</p>

    <p>小さい力かもしれないけれど、連鎖を起こし続けていくこと。<br>
    雪だるまがコロコロと大きくなっていくように、小さな雪玉が、最初の幸せにしたいという行動が、たくさんの人の思いが重なって、やがて大きくなっていく。</p>

    <p>WAQHAPIがつくるモノは、世界を変えるではなく、目の前にいる誰かの、幸せを作るモノ。幸せを、増やすモノ。<br>
    解決するわけじゃない、変えるわけじゃない、ただ心がふっと安心できる、かたくなった心をほぐすモノを作りたい。</p>

    <p>そしてそのモノを作り続けることで、愛がめぐる世の中を作っていきたいと、強く思うし、これが、WAQHAPIがこの社会に存在し続ける目的だと思う。</p>



    <p>言葉にすることだけじゃ、作れない未来があること。<br>
    けれどいくら素晴らしい言葉で、素晴らしい夢を語ったって、現実はそんなに甘くないことを痛感する一年でもあった。</p>

    <p>去年の秋、神山まるごと高専で開催された「まるごと祭」で、初めて、徹底的に数字と向き合う経験をした。</p>

    <p>Sansanの寺田さんに言われた、「結局は結果がすべてだからね」という言葉。それがずっと背中に突き刺さっていた。売上を大きくあげなければ、ブランドを続けていくことも、誰かを幸せにし続けることもできない。</p>

    <p>祭という制約上、飲食店営業許可が取れている場所なんてないから、パフェを作ることはできなくて、パフェで作っていたオリジナルアイスを商品にすることにした。<br>
    初めてのアイスのOEM生産。<br>
    断られ続けてようやく見つけた工場、最小ロット数は560個という恐ろしい数。</p>

    <p>その数の大きさに、全て売り切れるの？と言われたことも何度もあった。けれど売るしかなかったから、とにかくとにかく自分を奮い立たせた。</p>

    <p>寒空の下、アイスを手に取ってくれる人のためにメッセージを添え、カイロを用意した。結果、560個のアイスは完売。学内で一番の売上を出し、赤字も回避することができた。</p>

    <p>予約キャンセルの16時30分まで、待っていただいたお客様もいて。そこで見たアイス待ちの列はものすごく嬉しかったし、2日間でリピートしてくださる方々や、美味しかったと伝えてくださった方々、あったまりましたと伝えてくださる方々がいて、本当に本当に、嬉しかった。</p>

    <p>そして、アイスだけじゃなくて、パフェに甘えて。のグッズも販売した。<br>
    ジップ付きのパーカー、普通のパーカー、巾着、絵本、ステッカー、マルチシール。自分の作ったものが誰かの手に渡り、思い出の一部になる。その光景を見たとき、たまらなく嬉しかった。 作りたかったのはパフェというモノ以上に、その先にある、誰かの心が温まる「瞬間」だったのだと改めて確信した。<br>
    その一方で、お金は全然ないからできるものは全て後払いで、でもできないものも多くて、どんどん減っていくクレジットカードの残高が怖かったし、人生で一番お金を使った月だった。</p>

    <p>数字を見なければきっと、アイスだけを売っていたと思う。けれど、数字を見たことによって、そうじゃないものをたくさん作って、パフェに甘えて。をブランドとして確立させていきたいという目標に、手探りながら向かっていった、初めての経験だった。</p>

    <p>売り上げを上げること、それは世の中から必要とされている数。今まで逃げていたことに、ちゃんと向き合おうと思った瞬間だった。</p>



    <p>承認欲求の先で、私は。<br>
    1年を通して、何度もお客様に出会った。<br>
    笑顔になって帰ってくださるお客様。<br>
    「泣きそう」と言いながら、もう泣いてくださっているお客様。<br>
    うるうるしながら「また来ます」と伝えてくださるお客様。</p>

    <p>もう、出会ってしまったら、目の前で人のことを幸せにできたら、逃げられない、と思う。逃げたくない、と思う。</p>



    <p>承認欲求、他者承認、私は自分のために会社を始めて、自分のためにずっとモノを作ってきた。<br>
    けれど、今は、誰かのために、モノを作り続けたいと思う。</p>

    <p>見栄という鎖を外して、周りを巻き込んで、本気で良いモノを作って、必ず愛がめぐる世の中を作りたい。</p>



    <p>それは、ちっぽけな私だからこそ、そのちっぽけさとずっと戦ってきたからこそ、作れる、追いかけられる社会だと信じている。</p>
  </article>
</body>
</html>
